In [37]:
import talib as ta
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # 한 실행칸에 프린트 여러개 해도 다 출력시키도록 하는 코드.

In [38]:
raw_data = pd.read_csv('./kospi_1분봉_201910_202010.csv')
tech = pd.read_csv('./tech.csv')

In [39]:
raw_data['datetime'] = raw_data['일자'] + ' ' + raw_data['시간']
raw_data['datetime'] = pd.to_datetime(raw_data['datetime'], format='%Y/%m/%d')

In [40]:
data = raw_data[['datetime', '종가']]
data.columns = ['datetime', 'close']
data = pd.concat([data, tech], axis = 1)
original_col = data.columns.to_list()

In [42]:
data.head()

,datetime,close,Unnamed: 0,BBANDS_upperband,BBANDS_middleband,BBANDS_lowerband,DEMA,EMA,HT_TRENDLINE,KAMA,...,TANH,ADD,DIV,MAX,MAXINDEX,MIN,MININDEX,MULT,SUB,SUM
0,2019-10-30 13:44:00,276.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,551.90,1.000362,NaN,0,NaN,0,76148.4000,0.10,NaN
1,2019-10-30 13:45:00,275.95,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,551.90,1.000362,NaN,0,NaN,0,76148.4000,0.10,NaN
2,2019-10-30 13:46:00,275.85,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,551.85,1.000544,NaN,0,NaN,0,76134.6000,0.15,NaN
3,2019-10-30 13:47:00,275.85,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,551.70,1.000000,NaN,0,NaN,0,76093.2225,0.00,NaN
4,2019-10-30 13:48:00,275.85,4,276.026491,275.9,275.773509,NaN,NaN,NaN,NaN,...,1.0,551.75,1.000181,NaN,0,NaN,0,76107.0150,0.05,NaN

In [5]:
"""
    해야 되는 것.
    1. (1~20)분 후의 가격 ~ price_1m
    2. (1~20)분 후의 로그수익률 ~ lgret_1m
    3. (1~20)분 후의 절대수익률 ~ ret_1m
"""
for i in range(1, 21):
    num_label = str(i) + 'm'
    data['price_' + num_label] = data['close'] - data['close'].iloc[i:].reset_index(drop = True)
    data['ret_' + num_label] = (data['close'].iloc[i:].reset_index(drop = True) - data['close'])/data['close']
    data['logret_' + num_label] = np.log(data['close'].iloc[i:].reset_index(drop = True)/data['close'])

'\n    해야 되는 것.\n    1. (1~20)분 후의 가격 ~ price_1m\n    2. (1~20)분 후의 로그수익률 ~ lgret_1m\n    3. (1~20)분 후의 절대수익률 ~ ret_1m\n'

In [6]:
def extract_data(method, period): # method : ('price', 'ret', 'logret'), period = 1~20
    label = method + '_' + str(period) + 'm'
    cols = original_col.copy()
    cols.append(label)
    _data = data[cols]
    _data.set_index('datetime', inplace = True, drop = True)
    return _data

In [7]:
extract_data('price', 1)

,close,Unnamed: 0,BBANDS_upperband,BBANDS_middleband,BBANDS_lowerband,DEMA,EMA,HT_TRENDLINE,KAMA,MA,...,ADD,DIV,MAX,MAXINDEX,MIN,MININDEX,MULT,SUB,SUM,price_1m
datetime,,,,,,,,,,,,,,,,,,,,,
2019-10-30 13:44:00,276.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,551.90,1.000362,NaN,0,NaN,0,76148.4000,0.10,NaN,0.05
2019-10-30 13:45:00,275.95,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,551.90,1.000362,NaN,0,NaN,0,76148.4000,0.10,NaN,0.10
2019-10-30 13:46:00,275.85,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,551.85,1.000544,NaN,0,NaN,0,76134.6000,0.15,NaN,0.00
2019-10-30 13:47:00,275.85,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,551.70,1.000000,NaN,0,NaN,0,76093.2225,0.00,NaN,0.00
2019-10-30 13:48:00,275.85,4,276.026491,275.90,275.773509,NaN,NaN,NaN,NaN,NaN,...,551.75,1.000181,NaN,0,NaN,0,76107.0150,0.05,NaN,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-01 13:06:00,282.25,65530,282.505647,282.37,282.234353,282.354359,282.268595,282.297462,282.120367,282.278333,...,564.65,1.000531,282.45,65528,282.0,65501,79707.4000,0.15,8468.35,-0.10
2020-07-01 13:07:00,282.35,65531,282.505647,282.37,282.234353,282.358991,282.273847,282.307521,282.127207,282.290000,...,564.60,1.000354,282.45,65528,282.1,65502,79693.2875,0.10,8468.70,0.10
2020-07-01 13:08:00,282.25,65532,282.500000,282.34,282.180000,282.350520,282.272309,282.310707,282.128716,282.295000,...,564.50,1.000709,282.45,65528,282.1,65503,79665.0525,0.20,8468.85,0.05
2020-07-01 13:09:00,282.20,65533,282.436969,282.29,282.143031,282.336445,282.267643,282.308717,282.129354,282.298333,...,564.50,1.000354,282.45,65528,282.2,65504,79665.0600,0.10,8468.95,-0.10
2020-07-01 13:10:00,282.30,65534,282.371981,282.27,282.168019,282.336047,282.269731,282.305846,282.130882,282.301667,...,564.55,1.000177,282.45,65528,282.2,65506,79679.1750,0.05,8469.05,NaN

In [10]:
# 120분 평균과 분산
mean_120m = data['close'].rolling(120).mean()
std_120m = data['close'].rolling(120).std()

# y date list
date_list = [1, 3, 5, 10, 15, 20]
# making y
for i in date_list:
    close_after = data['close'].iloc[i:].reset_index(drop = True)
    nans = np.empty(i)
    nans = np.nan
    close_after = close_after.append(pd.Series(nans, index = np.arange(len(close_after), len(close_after) + i)))
    label =  'y_' + str(i) +'m'
    lower_bound = mean_120m - std_120m / np.sqrt(120//i)
    upper_bound = mean_120m + std_120m / np.sqrt(120//i)
    # up & down 만들기 전에, nan을 없애야 함! nan은 false로 간주된다.
    up = close_after >= upper_bound
    down = close_after < lower_bound
    y = 1 * up -1 * down
    data[label] = y

In [35]:
data['y_1m'].value_counts()

 1    33401
-1    29600
 0     2534
Name: y_1m, dtype: int64

In [18]:
data

,datetime,close,Unnamed: 0,BBANDS_upperband,BBANDS_middleband,BBANDS_lowerband,DEMA,EMA,HT_TRENDLINE,KAMA,...,logret_19m,price_20m,ret_20m,logret_20m,y_1m,y_3m,y_5m,y_10m,y_15m,y_20m
0,2019-10-30 13:44:00,276.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.000362,0.10,-0.000362,-0.000362,0,0,0,0,0,0
1,2019-10-30 13:45:00,275.95,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.000181,0.00,0.000000,0.000000,0,0,0,0,0,0
2,2019-10-30 13:46:00,275.85,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000362,-0.05,0.000181,0.000181,0,0,0,0,0,0
3,2019-10-30 13:47:00,275.85,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000181,0.10,-0.000363,-0.000363,0,0,0,0,0,0
4,2019-10-30 13:48:00,275.85,4,276.026491,275.90,275.773509,NaN,NaN,NaN,NaN,...,-0.000363,-0.05,0.000181,0.000181,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2020-07-01 13:06:00,282.25,65530,282.505647,282.37,282.234353,282.354359,282.268595,282.297462,282.120367,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
65531,2020-07-01 13:07:00,282.35,65531,282.505647,282.37,282.234353,282.358991,282.273847,282.307521,282.127207,...,NaN,NaN,NaN,NaN,1,1,0,0,0,0
65532,2020-07-01 13:08:00,282.25,65532,282.500000,282.34,282.180000,282.350520,282.272309,282.310707,282.128716,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
65533,2020-07-01 13:09:00,282.20,65533,282.436969,282.29,282.143031,282.336445,282.267643,282.308717,282.129354,...,NaN,NaN,NaN,NaN,1,0,0,0,0,0
65534,2020-07-01 13:10:00,282.30,65534,282.371981,282.27,282.168019,282.336047,282.269731,282.305846,282.130882,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [ ]:
window_size = 396 # 1 day data
train_size = window_size * 5
test_size = window_size

result_dict = {}
for i in range(len(date_list)):
    y_label = "y_" + str(date_list[i]) + "m"
    y = ydata.loc[train_test_index:, ylabel]
    i = train_test_index
    test_results = []
    while(i + train_size + test_size < len(data)):
        
        # PCA func (with YK's func)
        _, _, sub_data = pca(a, b, c)
        
        # 데이터 쪼개기 : train & test data
        train = pd.concat([sub_data.loc[i : i + train_size], y.loc[i : i + train_size]], axis=1)
        test = pd.concat([sub_data.loc[i+train_size : i+train_size + test_size], y.loc[i : i + train_size]], axis=1)
        
        # train : like logistic regression(with softmax)
        
        
        # test : 
        res = 
        test_results.append(res)
        
        i = i + window_size
        
    result_dict[ylabel] = test_results # {'y_1m' : [], 'y_3m' : []} []은 y & yhat